.master{
	margin: 50px;
}

.container-fluid{
	background-color: white;
	padding: 30px;
}

.container-fluid .firstrows .firstsquare{
	background-color: green;
	padding: 30px;
}

.container-fluid .firstrows .secondsquare{
	background-color: blue;
	padding: 30px;
}

.container-fluid .firstrows .thirdsquare{
	background-color: green;
	padding: 30px;
}

.container-fluid .firstrows .fourthsquare{
	background-color: blue;
	padding: 30px;

}


.title{
	padding: 10px 0px 10px 25px;
	background-color: white;
	width: auto;
}

.col{ 
	width: 25%;
}
header{ 
	background-color: white;
}
